/* ==================== ==================== ==================== */
body {
    margin: 0;
    width: 100%;
    height: 100%;
}



/* ==================== ==================== ==================== */
.Header-wrap {
    top: 0;
    left: 0;
    z-index: 5;
    position: fixed;

    width: 100%;
    height: 150px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #ea1c24;
}

.Header-wrap img {
    width: 150px;
    height: 150px;
}



/* ==================== ==================== ==================== */
.Footer-wrap {
    left: 0;
    bottom: 0;
    z-index: 5;
    position: fixed;

    width: 100%;
    height: 150px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.Footer-wrap p {
    margin: 0;
    color: white;
    font-size: 30px;
}

.Button-wrap {
    width: 300px;
    height: 120px;
    bottom: 170px;
    position: fixed;
    border-radius: 100px;
    background-color: #ea1c24;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}



/* ==================== ==================== ==================== */
.Body-wrap {
    width: 100%;
    overflow: scroll;
    margin-top: 150px;
    margin-bottom: 150px;
    height: calc(100vh - 300px);
}

.Bottom-line {
    width: 90%;
    margin-left: calc(5%);
    margin-right: calc(5%);
    border-bottom: 1px solid grey;
}

.Vertical-line {
    height: 50%;
    border-left: 1px solid grey;
}



/* ==================== ==================== ==================== */
.Content-wrap {
    width: calc(100% - 2px);
    height: 200px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.Content-wrap p {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}



/* ==================== ==================== ==================== */
.Content-date-wrap {
    width: 20%;
}

.Content-title-wrap {
    width: 50%;
}

.Content-button-wrap {
    width: 30%;
}

