/* ==================== ==================== ==================== */
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3e3e3;
}

.body-center {
    width: 100%;
    height: 100%;
    background-color: white;
}

@media (min-width: 1000px) {
    .body-center {
        width: 500px;
    }

    /* ========== ========== Header ========== ========== */
    .Header-wrap {
        left: calc(50% - 250px) !important;
        width: 500px !important;
    }



    /* ========== ========== Footer ========== ========== */
    .Footer-wrap {
        left: calc(50% - 250px) !important;
        width: 500px !important;
    }

    .Footer-wrap p {
        font-size: 15px !important;
    }

    .Button-wrap {
        width: 150px !important;
        font-size: 20px !important;
    }



    /* ========== ==========  Body  ========== ========== */
    .Body-wrap::-webkit-scrollbar {
        display: none !important;
    }

    .Content-wrap p {
        font-size: 15px !important;
    }

    .Content-button {
        font-size: 20px !important;
    }



    /* ========== ========== Modal ========== ========== */
    .Popup-wrap {
        left: calc(50% - 250px) !important;
        width: inherit !important;
    }

    .Date-wrap {
        left: calc(50% - 250px) !important;
        width: inherit !important;
    }

    .Warning-wrap {
        left: calc(50% - 250px) !important;
        width: inherit !important;
    }

    .Popup-header {
        font-size: 30px !important;
    }

    .Popup-body p {
        font-size: 25px !important;
    }

    .Popup-body input {
        font-size: 20px !important;
    }

    .Popup-footer div {
        font-size: 30px !important;
    }

    .Date-body select {
        font-size: 20px !important;
    }

    .Warning-body span {
        font-size: 25px !important;
    }
}



/* ==================== ==================== ==================== */
.Header-wrap {
    top: 0;
    left: 0;
    z-index: 5;
    position: fixed;

    height: 7%;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #ea1c24;
}

.Header-wrap img {
    height: 80%;
}



/* ==================== ==================== ==================== */
.Footer-wrap {
    left: 0;
    bottom: 0;
    z-index: 5;
    position: fixed;

    height: 7%;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.Footer-wrap p {
    margin: 0;
    color: white;
    font-size: 30px;
}

.Button-wrap {
    width: 30%;
    height: 6%;
    bottom: 8%;
    position: fixed;
    border-radius: 100px;
    background-color: #ea1c24;

    color: white;
    font-size: 35px;
    font-weight: bold;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.Button-wrap:active {
    background-color: #ad090e;
}



/* ==================== ==================== ==================== */
.Body-wrap {
    top: 7%;
    bottom: 7%;
    height: 86%;
    width: inherit;
    position: fixed;
    overflow: scroll;
}

.Bottom-line {
    width: 90%;
    margin-left: calc(5%);
    margin-right: calc(5%);
    border-bottom: 1px solid grey;
}

.Vertical-line {
    height: 50%;
    border-left: 1px solid grey;
}



/* ==================== ==================== ==================== */
.Content-wrap {
    width: calc(100% - 2px);
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.Content-wrap p {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}



/* ==================== ==================== ==================== */
.Content-inner {
    width: 20%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.Content-button {
    width: 60%;
    height: 40%;
    display: flex;
    color: white;
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    background-color: #ea1c24;
}

.Content-button:active {
    background-color: #ad090e;
}





/* ==================== ==================== ==================== */
.Popup-wrap {
    left: 0;
    top: 7%;
    z-index: 10;
    height: 86%;
    width: 100%;
    border: none;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4)
}

.Popup-box {
    width: 80%;
    height: 60%;
    overflow: hidden;
    border-radius: 30px;
    background-color: white;
}

.Popup-header {
    width: 100%;
    height: 20%;
    display: flex;
    color: white;
    font-size: 50px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    background-color: #ea1c24;
}

.Popup-body {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Popup-body p {
    font-size: 40px;
    font-weight: bold;
}

.Popup-title {
    width: 75%;
    height: 10%;
    font-size: 30px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid grey;
}

#datepicker {
    width: 40%;
    height: 10%;
    font-size: 30px;
    text-align: center;
    border: 2px solid grey;
}

.ui-datepicker { 
    left: calc(50% - 259px) !important;
    width: 500px !important;
    height: 500px !important;
    font-size: 40px !important; 
}

#ui-datepicker-div td { width: 70px !important; }
#ui-datepicker-div td a { text-align: center !important; }

.Popup-footer {
    width: 100%;
    height: 20%;
    background-color: #ea1c24;
}

.Popup-footer-inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Popup-button-wrap {
    height: 100%;
    display: flex;
    color: white;
    font-size: 50px;
    font-weight: bold;
    align-items: center;
    width: calc(50% - 1px);
    justify-content: center;
}

.Popup-button-wrap:active {
    background-color: #ad090e;
}

.Button-line {
    height: 100%;
    border-left: 1px solid white;
    border-right: 1px solid white;
}





/* ==================== ==================== ==================== */
.Date-wrap {
    left: 0;
    top: 7%;
    z-index: 15;
    height: 86%;
    width: 100%;
    border: none;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4)
}

.Date-box {
    width: 70%;
    height: 20%;
    overflow: hidden;
    border-radius: 30px;
    background-color: white;
}

.Date-body {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Date-body select {
    width: 23%;
    height: 40%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border: 2px solid ;
    border-radius: 20px;
}

.Date-body div {
    width: 10%;
    height: 10%;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}





/* ==================== ==================== ==================== */
.Warning-wrap {
    left: 0;
    top: 7%;
    z-index: 15;
    height: 86%;
    width: 100%;
    border: none;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4)
}

.Warning-box {
    width: 70%;
    height: 20%;
    overflow: hidden;
    border-radius: 30px;
    background-color: white;
}

.Warning-body {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Warning-body span {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}